body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
}

main {
    padding-top: 60px; /* Adjust this value to accommodate the height of the fixed header */
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    margin-right: 20px;
}
li.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}
.dropdown:hover .dropdown-content {
    display: block;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* services */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
/* menu font */
/* Add a stylish font to the menu text */
nav ul li a {
    font-family: 'Arial', sans-serif; /* Replace 'Arial' with the desired font family */
    font-weight: bold; /* Optionally, adjust the font weight */
}

/* Prevent the links from changing color after they have been clicked */
nav ul li a:visited {
    color: inherit; /* Inherit the color from the parent element */
}
